.description-section {
  padding-top: 80px;
  padding-bottom: 80px;
  scroll-margin-top: 10px;

  @include media(desktop) {
    scroll-margin-top: 0px;
    padding-top: 125px;
    padding-bottom: 150px;
  }
}

.description-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  word-break: break-word;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 20px;
    max-width: 712px;
    margin: 0 auto;
  }
}

.description-span {
  font-weight: 700;
}
