.hero-section {
  padding-top: 95px;
  padding-bottom: 495px;
  background-image: url(../img/hero/hero-title-bg-mob.png),
    url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top 116px center, top center;
  background-size: auto, auto;
  max-width: 375px;
  margin: 0 auto;
  position: relative;

  @include media(desktop) {
    padding-top: 117px;
    padding-bottom: 548px;
    background-image: url(../img/hero/hero-title-bg-desk.png),
      url(../img/hero/hero-bg-desk.png);
    background-position: top 143px left 119px, top center;
    max-width: 1440px;
  }
}

.hero-title {
  font-family: 'Alfa Slab One', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  margin-bottom: 16px;

  @include media(desktop) {
    text-align: left;
    font-size: 40px;
  }
}

.hero-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  max-width: 294px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 20px;
    max-width: 584px;
    text-align: left;
    margin-left: 0;
  }
}

.hero-img {
  position: absolute;
  right: 0;
  bottom: 34px;
  display: flex;
  z-index: 1;

  @include media(desktop) {
    bottom: 32px;
    right: 73px;
  }
}

.hero-bottom-line-img {
  position: absolute;
  left: 0;
  right: 0;
  transform: none;
  bottom: 0;
  display: flex;
  z-index: 0;
}
