.play-section {
  padding-bottom: 46px;
  max-width: 375px;
  margin: 0 auto;
  position: relative;

  @include media(desktop) {
    padding-bottom: 64px;
    max-width: 1440px;
  }
}

.play-list-wrapper {
  @include media(desktop) {
    padding-left: 184px;
  }
}

.play-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 24px;
    max-width: 552px;
  }
}

.play-list-item {
  border: 4px solid #a354ba;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 202px;

  @include media(desktop) {
    max-width: 264px;
  }
}

.play-item-number {
  font-family: 'Alfa Slab One', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  color: #000;
}

.play-item-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #000;

  @include media(desktop) {
    font-size: 20px;
  }
}

.play-item-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;

  @include media(desktop) {
    font-size: 20px;
  }
}

.play-fireball-img {
  display: none;

  @include media(desktop) {
    display: flex;
    position: absolute;
    top: 60px;
    left: 220px;
  }
}

.play-girl-img {
  display: none;

  @include media(desktop) {
    display: flex;
    position: absolute;
    bottom: 72px;
    right: 180px;
  }
}

.play-bottom-line-img {
  position: absolute;
  left: 0;
  right: 0;
  transform: none;
  bottom: 0;
  display: flex;
  z-index: 0;
}
