.reviews-section {
  padding-top: 80px;
  padding-bottom: 80px;
  scroll-margin-top: 10px;

  @include media(desktop) {
    scroll-margin-top: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.reviews-list-wrapper {
  @include media(desktop) {
    padding-left: 184px;
  }
}

.reviews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.reviews-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include media(desktop) {
    max-width: 282px;
  }
}

.reviews-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;

  @include media(desktop) {
    font-size: 20px;
  }
}

.reviews-name {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #000;

  @include media(desktop) {
    font-size: 20px;
  }
}
