<section class="section description-section" id="description">
  <div class="description-bg-wrapper">
    <div class="container description-container">
      <h2 class="section-title description-title">Game Description</h2>
      <p class="description-text">
        Evil Rush is not your typical tower defense. It’s
        <span class="description-span">
          cute, chaotic, and completely addictive.
        </span>
      </p>
      <p class="description-text">
        Command a quirky army of evil creatures, defend your base against
        endless waves of invaders, and grow stronger with every tap. Whether
        you're strategizing hardcore or playing casually, this idle TD game
        delivers laughs, loot, and LOTS of explosions.
      </p>
    </div>
  </div>
</section>
