<section class="section download-section" id="download">
  <div class="container download-container">
    <h2 class="section-title download-title">
      Evil Rush - Idle Tower<br />
      Defense
    </h2>
    <div class="download-content-wrapper">
      <p class="download-text">
        Start your evil empire and defend it with style
      </p>
    </div>
  </div>
  <picture>
    <source
      srcset="./img/download/download-img-desk.png"
      media="(min-width: 1440px)"
    />
    <source srcset="./img/download/download-img-mob.png" />
    <img
      class="download-img"
      src="./img/download/download-img-mob.png"
      alt=""
      loading="lazy"
    />
  </picture>
</section>
