<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <h2 class="section-title faq-title">FAQ</h2>
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is Evil Rush free to play?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes! It’s completely free, with optional in-app purchases for
            boosts.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Can I play offline?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Absolutely. You can earn idle rewards and play even without Wi-Fi.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">What makes Evil Rush unique?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            The perfect mix of cute art, idle mechanics, and strategic tower
            defense.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Do my towers work when I’m offline?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes! You’ll keep earning resources while you’re away.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Are there regular updates or events?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes! Look out for seasonal events, new units, and bonus rewards.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
