<section class="section hero-section" id="home">
  <div class="container hero-container">
    <h1 class="hero-title">
      Evil Rush - Idle Tower<br />
      Defense
    </h1>
    <p class="hero-text">
      Summon chaos and defend your realm in the most charming tower defense ever
    </p>
    <picture>
      <source
        srcset="./img/hero/hero-img-desk.png"
        media="(min-width: 1440px)"
      />
      <source srcset="./img/hero/hero-img-mob.png" />
      <img class="hero-img" src="./img/hero/hero-img-mob.png" alt="" />
    </picture>
    <picture>
      <source
        srcset="./img/hero/hero-bottom-line-desk.png"
        media="(min-width: 1440px)"
      />
      <source srcset="./img/hero/hero-bottom-line-mob.png" />
      <img
        class="hero-bottom-line-img"
        src="./img/hero/hero-bottom-line-mob.png"
        alt=""
      />
    </picture>
  </div>
</section>
