<section class="section play-section" id="play">
  <div class="play-section-wrapper">
    <div class="container play-container">
      <h2 class="section-title">How to Play</h2>
      <div class="play-list-wrapper">
        <ul class="play-list">
          <li class="play-list-item">
            <span class="play-item-number">1</span>
            <h3 class="play-item-title">Place your towers</h3>
            <p class="play-item-text">
              Strategically position your wicked defenders
            </p>
          </li>
          <li class="play-list-item">
            <span class="play-item-number">2</span>
            <h3 class="play-item-title">Summon evil minions</h3>
            <p class="play-item-text">
              Unlock and upgrade charmingly chaotic units
            </p>
          </li>
          <li class="play-list-item">
            <span class="play-item-number">3</span>
            <h3 class="play-item-title">Defeat waves</h3>
            <p class="play-item-text">Fend off cute-but-dangerous intruders</p>
          </li>
          <li class="play-list-item">
            <span class="play-item-number">4</span>
            <h3 class="play-item-title">Upgrade everything</h3>
            <p class="play-item-text">Strengthen your towers while offline</p>
          </li>
        </ul>
      </div>
    </div>
    <img
      class="play-girl-img"
      src="./img/play/play-girl.png"
      alt=""
      loading="lazy"
    />
    <img
      class="play-fireball-img"
      src="./img/play/play-fireball.png"
      alt=""
      loading="lazy"
    />
    <picture>
      <source
        srcset="./img/play/play-bottom-line-desk.png"
        media="(min-width: 1440px)"
      />
      <source srcset="./img/play/play-bottom-line-mob.png" />
      <img
        class="play-bottom-line-img"
        src="./img/play/play-bottom-line-mob.png"
        alt=""
      />
    </picture>
  </div>
</section>
