<section class="section reviews-section" id="reviews">
  <div class="container reviews-container">
    <h2 class="section-title reviews-title">User Reviews</h2>
    <div class="reviews-list-wrapper">
      <ul class="reviews-list">
        <li class="reviews-list-item">
          <img
            class="reviews-avatar-img"
            src="./img/reviews/reviews-avatar-max.png"
            alt="Avatar"
            width="80"
            height="99"
          />
          <p class="reviews-text">
            “Never thought evil could be this adorable. So satisfying to watch
            waves fall!”
          </p>
          <p class="reviews-name">Max D.</p>
        </li>
        <li class="reviews-list-item">
          <img
            class="reviews-avatar-img"
            src="./img/reviews/reviews-avatar-clara.png"
            alt="Avatar"
            width="80"
            height="99"
          />
          <p class="reviews-text">
            “The art style is amazing and the gameplay is super addictive.”
          </p>
          <p class="reviews-name">Clara H.</p>
        </li>
        <li class="reviews-list-item">
          <img
            class="reviews-avatar-img"
            src="./img/reviews/reviews-avatar-leo.png"
            alt="Avatar"
            width="80"
            height="99"
          />
          <p class="reviews-text">
            “Perfect balance of idle play and strategic upgrades.”
          </p>
          <p class="reviews-name">Leo J.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
